<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="music">
    <header class="header--horizontal header--music">
        <nav class="header--horizontal-menu">
            <ul>
                <li><a href="/">| home </a></li>
                <li><a href="/about">| about </a></li>
                <li><a href="/music">| music </a></li>
                <li><a href="/contact">| contact |</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <nav>
            <h5>Direct links</h5>
            <ul>
                <li><a href="#album">Albun</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h3>album<br>twist in my reality</h3>
                <img src="/img/emilia-play-list.png" alt="foto del disco">
                <ol>
                    <li><i class="fas fa-play"></i>Organic Love | 02:40</li>
                    <li><i class="fas fa-play"></i>Twist In My Reality | 02:10</li>
                    <li><i class="fas fa-play"></i>Street Light | 03:28</li>
                    <li><i class="fas fa-play"></i>Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go Top</a>
            </article>
        </section>
        <section>
            <article id="organic">
                <h3>video<br>Organic love</h3>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </article>
            <article>
                <h3>video<br>Street Light</h3>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>

</body>
</html>